.c-projects {
  background: #1b1b1b;

  scroll-margin-top: 80px;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 20px;
}

.project-item {
  max-width: 360px;

  text-align: center;

  margin-bottom: 2rem;
}

.project-thumbnail a {
  display: block;
}

.project-thumbnail img {
  display: block;
  width: 100%;

  border-radius: 5px;
}

.project-title {
  display: block;

  margin: 1rem 0;
}

.project-description {
  color: #878787;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.project-source {
  color: #878787;
  font-size: 0.9rem;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .project-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .project-item {
    flex-basis: 45%;
  }
}
