/* Tags */

* {
  margin: 0;
  padding: 0;

  font-family: 'Oxygen', sans-serif;

  box-sizing: border-box;
}

body {
  background: #2b2b2b;
  color: #e0e0e0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #fafafa;
}


/* Ids */

#about {
  scroll-margin-top: 160px;
}

#projects, #contact {
  scroll-margin-top: 64px;
}


/* Classes */


/* Independent */

.profile img {
  width: 60px;

  border-radius: 50%;
}

.greetings {
  color: #c2c2c2;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;

  margin: 10rem 0 4rem 0;
}

@media screen and (min-width: 480px) {
  .greetings {
    font-size: 2rem;
  }
}

.motto {
  font-size: 1.3rem;
  text-align: center;
}

.copyright {
  display: block;

  color: #878787;
  text-align: center;
}

.scroll-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.scroll-up button {
  visibility: hidden;

  background: none;

  border: 0;

  cursor: pointer;
}

.scroll-up button .fas {
  color: #e3e3e3;
  font-size: 1.5rem;
  text-shadow: 0 0 3px #000000;
}


/* Layout */

#header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;

  padding: 10px 20px;
}

#header .container {
  display: flex;
}

.header--scroll {
  background: #1b1b1b;
  box-shadow: 0 2px 4px #00000083;

  transition: background-color 0.2s ease;
}

.container {
  max-width: 900px;

  margin: auto;
}

.c-header {
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;

  margin-bottom: 4rem;
}

.c-tech, .c-projects, .c-contact {
  padding: 4rem 0;
}

.footer {
  position: relative;

  background: #1b1b1b;

  padding: 4rem 0 2rem 0;
}

.footer .profile {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.footer .profile img {
  width: 80px;
}


/* Navbar */

.navbar {
  margin-left: auto;
}

.navbar-nav {
  margin-top: 1rem;
}

.navbar-item {
  display: inline-block;

}

.navbar-item:nth-child(2) {
  margin: 0 20px;
}


/* Tech */

.tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

@media screen and (min-width: 500px) {
  .tech-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .tech-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.tech-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  margin: 0 auto;
}

.tech-item img {
  width: 60px;
}

.tech-item p {
  max-width: 90px;

  margin-top: 20px;

  text-align: center;
}


/* Projects */

.c-projects {
  background: #1b1b1b;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0 20px;
}

.projects-item {
  flex-basis: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  margin: 30px;
}

.project-thumbnail a {
  display: block;
}

.project-thumbnail img {
  display: block;
  width: 100%;

  border-radius: 5px;
}

.project-title {
  display: block;

  margin: 10px 0 10px 0;
}

.project-description {
  color: #878787;
  font-size: 0.85rem;
}

.project-tech-list {
  margin: 10px 0;
}

.project-tech-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tech-item img {
  width: 25px;

  display: block;
}

.project-source {
  color: #878787;
  font-size: 0.9rem;
}


/* Contact */

.c-contact .c-header {
  margin-bottom: 0;
}

.contact-comment {
  margin: 1.5rem 0;

  font-size: 0.9rem;
  text-align: center;
}

.contact-form {
  display: grid;
  grid-template-areas:
    'contact-name'
    'contact-email'
    'contact-subject'
    'contact-message'
    'contact-send';

  max-width: 600px;

  margin: auto;
}

@media screen and (min-width: 500px) {
  .contact-form {
    grid-template-areas:
      'contact-name contact-email'
      'contact-subject contact-subject'
      'contact-message contact-message'
      'contact-send contact-send';
  }
}

.contact-form input, .contact-form textarea, .contact-form button {
  width: auto;

  background: #1b1b1b;
  color: #e0e0e0;
  font-size: 0.85rem;

  padding: 10px 20px;
  margin: 5px 10px;

  border: 0;
  border-radius: 5px;
}

.contact-form input:focus, .contact-form textarea:focus {
  background: #151515 !important;

  outline: none;
}

.contact-name {
  grid-area: contact-name;
}

.contact-email {
  grid-area: contact-email;
}

.contact-subject {
  grid-area: contact-subject;
}

.contact-message {
  grid-area: contact-message;

  height: 200px;

  resize: none;
}

.contact-send {
  grid-area: contact-send;
}

.contact-send button {
  width: 200px;

  float: right;

  color: #a1a1a1 !important;
  font-weight: bolder;
}

.contact-send button:hover {
  color: #e0e0e0 !important;

  cursor: pointer;
}

.contact-send button:active {
  background: #151515 !important;
}


/* Social */

.social-list {
  margin: 2rem 0 0.5rem 0;

  text-align: center;
}

.social-item a .fab {
  font-size: 20px;
}
