.c-contact {
  margin-bottom: 0;

  scroll-margin-top: 80px;
}

.c-contact .c-header {
  margin-bottom: 1rem;
}

.contact-comment {
  margin: 1.5rem 0;
  padding: 0 1rem;

  font-size: 0.9rem;
  text-align: center;
}

.contact-list {
  width: fit-content;

  margin: 0 auto;
  padding: 1rem
}

.contact-item {
  width: fit-content;

  margin: 1rem 0;
}

.contact-item .contact-icon {
  margin-right: 1rem;
}

.contact-item:hover, .contact-item:hover a {
  color: #75a4f8;
}

.contact-item:hover a {
  text-decoration: underline;
}
