#header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;

  padding: 10px 20px;

  z-index: 100;
}

#header .container {
  display: flex;
  align-items: center;
}

.header--scroll {
  background: #1b1b1b;

  box-shadow: 0 2px 4px #00000083;

  transition: background-color 0.2s ease;
}
