.navbar {
  margin-left: auto;
}

.navbar-nav {
  display: none;
}

.navbar-toggler {
  width: 40px;
  height: 40px;

  background: none;
  color: #eee;

  font-size: 1.5rem;

  border: 0;

  cursor: pointer;
}

@media screen and (min-width: 620px) {
  .navbar-nav {
    display: block;
  }

  .navbar-toggler {
    display: none;
  }
}
